.books {
  margin: 1rem 2rem;
}

.booklist {
  list-style-type: none;
  padding: 0;
}

.hr {
  border: 1px solid #e8e8e8;
  margin: 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}

.inputs {
  display: flex;
  align-items: center;
}

.input {
  border: 1px solid #bbb;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  height: 2rem;
  margin: 0 1rem 0 0;
  width: 100%;
}

.form-button {
  width: 20%;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background-color: rgb(8, 154, 238);
  font-family: 'Roboto Slab', serif;
}
