body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 4%;
  background-color: #e8e8e8
}
#root {
  margin: 0;
  padding: 0 0 8%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.App {
  width: 100%;
}


h2 {
  color: black;
}

.main {
  background-color: rgba(247, 247, 247, 0.966);
  margin-top: -25px;
  padding-top: 4%;
  padding-bottom: 1%;
}




